{%  extends "base.html"  %}
{% load static %}
{%  block content  %}

<main style="width: 100%; position: relative;">
        <img src="{% static 'forest.jpg' %}" alt="background image rainforest" width="100%" height="100%" style="opacity:0.5;">
<div class="newpost" style="position: absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
{% if user.is_authenticated %}
<h1>New post</h1>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
</form >
{% endif %}
</div>
</main>
{%  endblock content  %}
